@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px; /* VALOR POR DEFECTO */
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

img {
  /* RWD para imágenes */
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* UTILS */

.wrapper {
  width: min(100%, 1200px);

  margin: 0 auto;
}

/* HEADER SECTION */

header {
  /* border: 1px solid red; */

  height: 4.5rem; /* 72px / 16px */

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid hsl(223, 64%, 98%);
  padding: 1.5rem 1rem;
}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__links {
  font-size: .9rem;

  display: flex;
  gap: 1rem;

  color: hsl(219, 9%, 45%);
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* PRODUCT DETAIL SECTION */

