@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

/* CUSTOM PROPERTIES <> VARIABLE / CONSTANTES */

:root { /* pseudo-class */
  --fondo: orange; /* background-color: var(--fondo); */

  /* FONTS */
  --font-primary: "Kumbh Sans", sans-serif;
  --font-size: 16px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* COLORS */
  --primary-orange: hsl(26, 100%, 55%);
  --primary-pale-orange: hsl(25, 100%, 94%);

  --neutral-very-dark-blue: hsl(220, 13%, 13%);
  --neutral-dark-grayish-blue: hsl(219, 9%, 45%);
  --neutral-grayish-blue: hsl(220, 14%, 75%);
  --neutral-light-grayish-blue: hsl(223, 64%, 98%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-black: hsl(0, 0%, 0%);
}

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size); /* VALOR POR DEFECTO */
}

body {
  font-family: var(--font-primary);

  /* background-color: var(--fondo); */
}

img {
  /* RWD para imágenes */
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* UTILS */

.wrapper {
  width: min(100%, 1200px);

  margin: 0 auto;
}

/* HEADER SECTION */

header {
  /* border: 1px solid red; */

  height: 4.5rem; /* 72px / 16px */

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--neutral-grayish-blue);
  padding: 1.5rem 1rem;
}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__links {
  font-size: .9rem;

  display: flex;
  gap: 1rem;

  color: var(--neutral-dark-grayish-blue);
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 1rem; /* 16px */
}

/* PRODUCT DETAIL SECTION */

.product-detail {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem; /* 16px x 2 = 32px */

  padding: 3rem; /* TOP, RIGHT, BOTTOM, LEFT */
  padding: 3rem 3rem; /* (TOP, BOTTOM)  (LEFT,RIGHT) */
}

.gallery {
  /* border: 3px solid green; */

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gallery__cover {
  border-radius: 1rem;
}

.gallery__slider {
  display: flex;
  justify-content: space-between;
}

.gallery__slider img {
  border-radius: .5rem;
}

.gallery__slider--active {
  border: 3px solid var(--primary-orange);
  overflow: hidden;
  border-radius: .5rem;
}

.gallery__slider--active img {
  opacity: .5;
  border-radius: 0;
}

/* PRODUCT SECTION */

/* TODO: Terminar la sección de producto */

.product {
  border: 1px solid red;
}

.product__subtitle {
}

.product__title {
}

.product__description {
}

.product__price {
}

.product__wrapper {
}

.product__amount {
}

.product__discount {
}

.product__price-with-discount {
}

.product__form {
}

.product__quantity {
}

.product__add-to-cart {
}