@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  
  background-color: hsl(148, 38%, 91%);

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  /* border: 1px solid red; */

  width: 400px;
  /* background-color: hsl(0, 0%, 100%); */
  /* background-color: white; */
  background-color: #ffffff; /* White */
  padding: 32px; /* Espacio dentro de la caja */
  border-radius: 16px;
}

.contact-form h1 {
  margin: 0;
  margin-bottom: 32px; /* Espacio fuera de la caja */
}