@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 
font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif;
*/

/* GENERAL STYLES */

* { /* Selector Universal */
  /* border: 1px solid chartreuse; */
  margin: 0;
  box-sizing: border-box;
}

html { /* ROOT */
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;

  background-color: hsl(217, 28%, 15%);

  color: hsl(0, 0%, 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILS */

.hidden {
  display: none;
}

.wrapper {
  width: 1000px;

  /* TODO: Adaptar el ancho de la págin a dispositivos móviles */
}

/* HEADER SECTION */

.header {
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto; /* 0 auto 0 auto */
  margin-top: 3rem;
}

.header__nav {
  display: flex;
  gap: 3rem; /* 3rem = 14px x 3 */
}

/* .header__nav a {
  color: red;
} */

/* HERO SECTION */

.hero {
  /* border: 1px solid yellow; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /* 2rem = 14px x 2 */

  padding-top: 3rem;
  padding-bottom: 12rem;

  background-image: url(./images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.hero__image {
  width: 450px;
}

.hero__title {
  /* border: 1px solid blue; */

  width: 720px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.9em;
  text-align: center;
}

.hero__text {
  /* border: 1px solid orange; */

  width: 600px;

  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

.hero__button {
  border: none;
  border-radius: 7rem;
  padding: 1rem 1.5rem;
  min-width: 220px;
  color: hsl(0, 0%, 100%);

  /* TODO: Aplicar el degradado en el botón */
  /* linear-gradient(GRADOS, COLOR1, COLOR2) */
  background: linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 100%
  );
}

/* FEATURES SECTION */

.features {
  /* border: 1px solid red; */

  background-color: hsl(218, 28%, 13%);

  display: grid;
  grid-template-columns: 340px 340px;
  gap: 5rem; /* 14px * 5 = 70px */
  justify-content: center;
}

.feature {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.feature__image {
  height: 68px;
}

.feature__title {
  font-family: "Raleway", sans-serif;
}

.feature__text {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

/* TODO: COLLABORATION SECTION - Maquetar y aplicar estilos en esta sección */

.collaboration {
  border: 1px solid red;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem; /* 4rem = 4 * 14px = 66px */

  padding-top: 8rem;
}

.how_works {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 480px;
}

.how_works__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
}

.how_works__text {
}

.how_works__button {
  color: hsl(176, 68%, 64%);

  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: 10.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsl(176, 68%, 64%);
}

/* TODO: TESTIMONIALS SECTION - Maquetar y aplicar estilos en esta sección */

.testimonials {
}