@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 
font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif;
*/

/* GENERAL STYLES */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;

  background-color: hsl(217, 28%, 15%);
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILS */

.hidden {
  display: none;
}

.wrapper {
  width: 1000px;

  /* TODO: Adaptar el ancho de la págin a dispositivos móviles */
}

/* HEADER SECTION */

.header {
  border: 1px solid red;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 42px; /* 14px * 3 = 42px */
  margin: 0 auto; /* 0 auto 0 auto */
}

.header__nav {
  display: flex;
  gap: 42px;
}

/* .header__nav a {
  color: red;
} */