@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 
font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif;
*/

/*
TAMAÑOS DE PANTALLA SUGERIDOS:

576px  -> pantallas pequeñas (celulares)
768px  -> pantallas pequeñas (tablets y celulares)
992px  -> pantallas medianas (Desktop)
1200px -> pantallas grandes (Desktops, TVs)
*/

/* GENERAL STYLES */

* { /* Selector Universal */
  /* border: 1px solid chartreuse; */
  margin: 0;
  box-sizing: border-box;
}

html { /* ROOT */
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;

  background-color: hsl(217, 28%, 15%);

  color: hsl(0, 0%, 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  /* TODO: RWD(Responsive Web Design) para imágenes */
  max-width: 100%;
  height: auto;
}

/* UTILS */

.hidden {
  display: none;
}

.wrapper {
  /* width: 1000px; */

  /* TODO: Adaptar el ancho de la página dispositivos móviles */
  /* width: min(ANCHO MIN, ANCHO MAX); */
  width: min(100% - 3rem, 1440px);
}

/* HEADER SECTION */

.header {
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto; /* 0 auto 0 auto */
  margin-top: 3rem;
}

.header__nav {
  display: flex;
  gap: 3rem; /* 3rem = 14px x 3 */
}

/* .header__nav a {
  color: red;
} */

/* HERO SECTION */

.hero {
  /* border: 1px solid yellow; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /* 2rem = 14px x 2 */

  padding-top: 3rem;
  padding-bottom: 12rem;

  background-image: url(./images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.hero__image {
  width: 450px;
}

.hero__title {
  /* border: 1px solid blue; */

  /* width: 720px; */
  /* width: min(100%, 720px); */
  width: min(100% - 3rem, 720px);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.9em;
  text-align: center;
}

.hero__text {
  /* border: 1px solid orange; */

  /* width: 600px; */
  width: min(100% - 3rem, 600px);

  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

.hero__button {
  border: none;
  border-radius: 7rem;
  padding: 1rem 1.5rem;
  min-width: 220px;
  color: hsl(0, 0%, 100%);

  /* TODO: Aplicar el degradado en el botón */
  /* linear-gradient(GRADOS, COLOR1, COLOR2) */
  background: linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 100%
  );

  transition: all 0.3s ease;
}

.hero__button:hover {
  background: linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 35%,
    hsl(198, 60%, 50%) 70%
  );
  padding: 1rem 1.5rem;
  cursor: pointer;
  transform: scale(1.1);
  transform: rotate(3deg);
}

/* FEATURES SECTION */

.features {
  /* border: 1px solid red; */

  background-color: hsl(218, 28%, 13%);

  display: grid;
  grid-template-columns: 340px; /* MOBILE FIRST */
  gap: 5rem; /* 14px * 5 = 70px */
  justify-content: center;
}

/* MEDIA QUERY: Se aplica a dispositivos móviles, tablets o desktops */
@media (min-width: 1200px) {
  .features {
    grid-template-columns: 340px 340px;
  }
}

.feature {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.feature__image {
  height: 68px;
}

.feature__title {
  font-family: "Raleway", sans-serif;
}

.feature__text {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

/* TODO: COLLABORATION SECTION - Maquetar y aplicar estilos en esta sección */

.collaboration {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column; /* MOBILE FIRST */
  justify-content: center;
  align-items: center;
  gap: 4rem; /* 4rem = 4 * 14px = 66px */

  padding-top: 8rem;
}

/* TODO: Usar media queries para adaptar la sección collaboration a dispositivos móviles, tablets o desktops */

@media(min-width: 1200px) {
  /* ESTILOS AQUI */
  .collaboration {
    flex-direction: row;
  }
}

.how_works {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 480px;
}

.how_works__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
}

.how_works__text {
}

.how_works__button {
  color: hsl(176, 68%, 64%);

  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: 10.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsl(176, 68%, 64%);
}

/* TODO: TESTIMONIALS SECTION - Maquetar y aplicar estilos en esta sección */

.testimonials {
  border: 1px solid red;

  background-color: hsl(218, 28%, 13%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding-top: 8rem;
  padding-bottom: 18rem;
}

@media (min-width: 1200px) {
  .testimonials {
    flex-direction: row;
  }
}

.testimonial {
  width: 23rem; /* 23rem = 14px x 23 = 322px */
  /* padding: TOP RIGHT BOTTOM LEFT; */
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-radius: 0.5rem;
  border: 0.5rem solid hsla(215, 52%, 9%, 0.3);
  background-color: hsl(219, 30%, 18%);
}

.testimonial__text {
  margin-bottom: 2rem;
  line-height: 1.5;
}

.testimonial__profile {
  display: flex;
  gap: .5rem;

  font-size: .9rem;
}

.testimonial__profile img {
  border-radius: 50%;
}

.testimonial__profile h4 {
  font-weight: 700;
}

.testimonial__profile h5 {
  font-weight: 400;
}

/* EARLY-ACCESS SECTION  */

.early_access {
  /* border: 1px solid yellow; */

  width: min(100% - 3rem, 51.5rem);

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  background-color: hsl(219, 30%, 18%);
  border-radius: 1rem;
  box-shadow: 3px 3px 10px #111;
}

.early_access h2 {
  font-size: 2rem;
}

.early_access p {
  text-align: center;
}

.early_access form {
  display: flex;
  gap: 2rem;

  width: 100%;
}

.early_access input[type=text] {
  border-radius: 1.5rem;
  border: 0;
  padding: 1rem 2rem;
  width: min(100%, 30rem);
}

.early_access input[type=submit] {
  border: none;
  border-radius: 7rem;
  padding: 1rem 1.5rem;
  color: hsl(0, 0%, 100%);
  background: 
    linear-gradient(
      90deg, 
      hsl(176, 68%, 64%) 0%, 
      hsl(198, 60%, 50%) 100%
    );
  transition: all 1s ease;
}

.early_access input[type=submit]:hover {
  background: 
    linear-gradient(
      90deg, 
      hsl(176, 68%, 64%) 35%, 
      hsl(198, 60%, 50%) 100%
    );
  cursor: pointer;
}

/* FOOTER SECTION  */

.footer {
  border: 1px solid yellow;

  position: relative;

  background-color: hsl(216, 53%, 9%);

  padding: 15rem 0 5rem 0;
}

.footer--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  /* border: 1px solid red; */
  width: min(100% - 3rem, 76rem);
  margin: 0 auto;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  width: 100%;
  justify-content: space-between;
}

@media (min-width: 1200px) {
  .footer-info {
    flex-direction: row;
  }
}

.footer-info__description {
  width: 22rem;

  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.footer-info__contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-info__contact span {
  display: flex;
  gap: 1.5rem;
}

.footer-info__links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-info__social {
  display: flex;
  gap: 1.5rem;
}