@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
TAMAÑOS DE PANTALLA SUGERIDOS:

576px  -> pantallas pequeñas (celulares)
768px  -> pantallas pequeñas (tablets y celulares)
992px  -> pantallas medianas (Desktop)
1200px -> pantallas grandes (Desktops, TVs)
*/

:root {
  /* FONTS */

  --font-primary: "Poppins", sans-serif;
  --font-size: 16px;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* COLORS */
  --primary-color-gold: #FFB742;
  --primary-color-blue1: #393646;
  --primary-color-blue2: #4F4557;
  --primary-color-blue3: #6D5D6E;
  --primary-color-white: #FFFFFF;
}

/* GENERAL */

* {
  /* border: 1px solid red; */

  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size); /* 1rem = 16px */
}

body {
  font-family: var(--font-primary);

  background-color: var(--primary-color-blue2);

  color: var(--primary-color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILS */

.wrapper {
  width: min(100% - 2rem, 1220px);

  margin: 0 auto;
}

/* HEADER */

.header {
  /* TODO: Avanzar con los estilos del header */

  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 0;
}

.header__logo {
  color: var(--primary-color-gold);
  font-weight: var(--font-weight-bold);
  font-size: 2rem; /* 2 x 16px */
}

.header__menu {
  display: none;
}

@media (min-width: 768px) {
  .header__menu {
    display: flex;
    gap: 1.5rem; /* 1.5rem x 16px = 24px */
  }
}

.header__menu {
  font-weight: var(--font-weight-bold);
  font-size: 1.125rem; /* 1.125rem x 16px = 18px */
  text-transform: capitalize;
}

.header__menu--active,
.header__menu a:hover {
  color: var(--primary-color-gold);
  border-bottom: 2px solid var(--primary-color-gold);
}

.header__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

