@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
TAMAÑOS DE PANTALLA SUGERIDOS:

576px  -> pantallas pequeñas (celulares)
768px  -> pantallas pequeñas (tablets y celulares)
992px  -> pantallas medianas (Desktop)
1200px -> pantallas grandes (Desktops, TVs)
*/

:root {
  /* FONTS */

  --font-primary: "Poppins", sans-serif;
  --font-size: 16px;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* COLORS */
  --primary-color-gold: #FFB742;
  --primary-color-blue1: #393646;
  --primary-color-blue2: #4F4557;
  --primary-color-blue3: #6D5D6E;
  --primary-color-white: #FFFFFF;
}

/* GENERAL */

* {
  /* border: 1px solid red; */

  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size); /* 1rem = 16px */
}

body {
  font-family: var(--font-primary);

  background-color: var(--primary-color-blue2);

  color: var(--primary-color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILS */

.wrapper {
  width: min(100% - 2rem, 1220px);

  margin: 0 auto;
}

/* HEADER */

.header {
  /* TODO: Avanzar con los estilos del header */

  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 0;
}

.header__logo {
  color: var(--primary-color-gold);
  font-weight: var(--font-weight-bold);
  font-size: 2rem; /* 2 x 16px */
}

.header__menu {
  display: none;
}

@media (min-width: 768px) {
  .header__menu {
    display: flex;
    gap: 1.5rem; /* 1.5rem x 16px = 24px */
  }
}

.header__menu {
  font-weight: var(--font-weight-bold);
  font-size: 1.125rem; /* 1.125rem x 16px = 18px */
  text-transform: capitalize;
}

.header__menu--active,
.header__menu a:hover {
  color: var(--primary-color-gold);
  border-bottom: 2px solid var(--primary-color-gold);
}

.header__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ---- ESTUDIAR ESTA PARTE ---- */

/* HERO */

.hero {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 4rem;
}

.hero--bg {
  background-image: url(./images/bg.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.hero__gretting {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  text-transform: capitalize;
}

.hero__gretting span {
  color: var(--primary-color-gold);
  /* border-bottom: 3px solid var(--primary-color-gold); */
  text-decoration: underline;
}

.hero__title {
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  text-transform: capitalize;
}

.hero__description {
  font-size: 1.5rem;
  font-weight: var(--font-weight-regular);
  text-transform: capitalize;
}

.hero__photo {
  border-radius: 50%;
}

.stack {
  /* border: 1px solid yellow; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .stack {
    grid-template-columns: repeat(6, 1fr);
  }
}

.stack__title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.stack__wrap {
  /* border: 1px solid blue; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack__box {
  /* border: 1px solid orange; */
  width: 7rem;
  height: 7rem;

  background-color: var(--primary-color-blue2);
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 3rem;
  height: 372px;
}

.footer--bg {
  background-image: url(./images/bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.footer__logo {
  color: var(--primary-color-gold);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
}

.footer__copy {
  font-size: var(--font-size);
  font-weight: var(--font-weight-semibold);
  padding-bottom: 10rem;
}